/* Query for iPad */
@media only screen and (max-width: 768px) {
    .personalInfo {
        width: 100vw;
        padding: 40% 0;
    }

    .personalInfo h6 {
        font-size: 1.25em;
    }

    #carousel-container-plattsmap {
        width: 60%;
        height: 100%;
    }
}

/* Query for Mobile */
@media only screen and (max-width: 414px) {

    .nav {
        font-size: .75em;
        padding: 10px;
    }

    .external {
        margin-right: 0;
    }

    .link {
        margin-right: 5px;
        height: 20px;
        width: 20px;
    }

    .personalInfo {
        width: 100%;
        padding: 50% 0 80%;
    }

    .personalInfo h1 {
        font-size: 3.5em;
    }

    .personalInfo h6 {
        font-size: 1.25em;
        width: 90%;
    }

    .project {
        width: 100%;
    }

    .projectContainer div {
        width: 300px;
        height: 425px;
    }

    #carousel-container-plattsmap {
        width: 70%;
        height: 100%;
    }

    #carousel-container-blackjack {
        width: 70%;
        height: 100%;
    }

    .about {
        width: 100%;
    }

    .aboutContainer div {
        width: 280px;
        height: 450px;
    }

    #profileIMG {
        width: 300px;
        height: 450px;
    }

    .contactMe {
        width: 100%;
    }

    .contactForm input {
        width: 280px;
    }

    .contactForm textarea {
        width: 280px;
    }
}