/* Query for iPad */
@media only screen and (max-width: 768px) {
    .personalInfo {
        width: 100vw;
        padding: 40% 0;
    }

    .personalInfo h6 {
        font-size: 1.25em;
    }
}

/* Query for Mobile */
@media only screen and (max-width: 414px) {

    .navbar {
        width: 100%;
    }
    .personalInfo {
        width: 100%;
        padding: 50% 0 80%;
    }

    .personalInfo h1 {
        font-size: 3.5em;
    }

    .personalInfo h6 {
        font-size: 1.25em;
    }

    .project {
        width: 100%;
    }

    .projectContainer div {
        width: 300px;
        height: 475px;
    }

    .about {
        width: 100%;
        
    }

    .aboutContainer div {
        width: 300px;
        height: 500px;
    }

    #profileIMG {
        width: 300px;
        height: 500px;
    }

    .contactMe {
        width: 100%;
    }

    .contactForm input {
        width: 280px;
    }

    .contactForm textarea {
        width: 280px;
    }
}