body {
    margin: 0;
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

/* Navbar */

.navbar {
    display: flex;
    margin: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #352F2E;
    position: fixed;
    justify-content: space-between;
}

.internal {
    display: flex;
    justify-content: flex-start;
}

.external {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 10vh;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.nav:hover {
    background-color: #000000;
}

.link {
    padding: 1px;
    margin: 5px;
    border-radius: 100%;
    float: right;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

/* Title Page */

.personalInfo {
    padding: 20%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    
}

.personalInfo h1 {
    font-size: 4em;
    text-shadow: 5px 4px #000000;
    margin-bottom: 20px;
}

.personalInfo h6 {
    font-size: 2em;
    text-shadow: 2px 2px #000000;
    margin: 0 0 20px;
}

.resume {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 1em;
    margin-top: 0;
    background-color: #352F2E;
    color: #ffffff;
    border-radius: 10px;
}

.resume:hover {
    background-color: #000000;
}

/* Project Page */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project #title {
    color: #ffffff;
    font-size: 3em;
    text-shadow: 3px 3px #000000;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
}

.projectContainer div {
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 5px 5px #332F2E;
    width: 400px;
    height: 400px;
   
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #ffffff;
    margin: 5px;
}

.projectTitle {
    font-size: 1.75em;
}

.projectDescription {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.25em;
}

.projectLink {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    padding: .8em;
    margin: 10px 0 0;
    background-color: #352F2E;
    color: #ffffff;
    border-radius: 10px;
    
}

/* About Me Page */

.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.about #title {
    color: #ffffff;
    font-size: 3em;
    text-shadow: 3px 3px #000000;
}

.aboutContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 85px;
}

.aboutContainer div {
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 5px 5px #332F2E;
    width: 350px;
    height: 500px;
    margin: 10px;
}

#profileIMG {
    width: 350px;
    height: 500px;
    border-radius: 10px;
}

#aboutMe p {
    font-size: 1.25em;
    margin-left: 10px;
    margin-right: 10px;
}

/* Contact Me Page */

.contactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.contactForm {
    display: flex;
    flex-direction: column;
}

.contactMe #title {
    color: #ffffff;
    font-size: 3em;
    text-shadow: 3px 3px #000000;
}

/* Query for iPad */
@media only screen and (max-width: 768px) {
    
}

/* Query for Mobile */
@media only screen and (max-width: 415px) {

}