body {
    margin: 0;
}

.navbar {
    display: flex;
    margin: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #352F2E;
    position: fixed;
    justify-content: space-between;
}

.internal {
    display: flex;
    justify-content: flex-start;
}

.external {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 10vh;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.nav:hover {
    background-color: #000000;
}

.link {
    padding: 1px;
    margin: 5px;
    border-radius: 100%;
    float: right;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

.personalInfo {
    padding: 25%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.personalInfo h1 {
    font-size: 3em;
    text-shadow: 2px 2px white;
    margin-bottom: 20px;
}

.personalInfo h6 {
    font-size: 1em;
    text-shadow: 1px 1px white;
    margin: 0 0 20px;
}

.resume {
    display: flex;
    justify-content: center;
    width: 100px;
    padding: .8em;
    margin-top: 0;
    background-color: #352F2E;
    color: #ffffff;
    border-radius: 10px;
}

.resume:hover {
    background-color: #000000;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project #title {
    font-size: 2.5em;
    text-shadow: 1.5px 1.5px white;
}

.plattsmapContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.plattsmapContainer div {
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 10px;
    box-shadow: 5px 5px #332F2E;
    width: 300px;
    height: 300px;
   
}

.plattsmapDescription {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-left: 5px;
}

.plattsmapDescription a {
    align-items: center;
}

.plattsmapDemo {
    margin-right: 5px;
}

.about {
    display: flex;
    justify-content: center;
}

.about #title {
    font-size: 2.5em;
    text-shadow: 1.5px 1.5px white;
}

.contactMe {
    display: flex;
    justify-content: center;
}

.contactMe #title {
    font-size: 2.5em;
    text-shadow: 1.5px 1.5px white;
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 415px) {

}