body {
    margin: 0;
}

.navbar {
    display: flex;
    margin: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #352F2E;
    position: fixed;
    justify-content: space-between;
}

.internal {
    display: flex;
    justify-content: flex-start;
}

.external {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 10vh;
    margin-right: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
}

.nav:hover {
    background-color: #000000;
}

.link {
    padding: 1px;
    margin: .5%;
    border-radius: 100%;
    float: right;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
}

.personalInfo {
    padding: 20%;
    display: flex-inline;
    justify-content: center;
    text-align: center;
}

.resume {
    padding: .8em;
    background-color: #352F2E;
    color: #ffffff;
    border-radius: 10px;
}

.resume:hover {
    background-color: #000000;
}

.project {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
}

.contactMe {
    display: flex;
    justify-content: center;
}